


<footer>
    <div id="contact" class="copyright">
        <div class="container">
            
                
                  @*  <p>This website is created at 20/02/2023</p>*@
                    
                    <div style="align-items:center">
                        <strong>Facebook:</strong><a href="https://www.facebook.com/havu.002">Vu Ha</a> <br>
                        <strong>Facebook:</strong><a href="https://www.facebook.com/ann">Nguyen An</a> <br>
                        <strong>Phone number:</strong>012345676

                    </div>
            
        </div>
    </div>
</footer>